.headline {
  background-image: url("https://images.unsplash.com/photo-1572981872601-f290409c0bdc?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1600")
  background-image :cover;
}

.headline h1 h3 {
  color: black;
}

